<div class="container-profile">
    <h1 class="text-center-profile pos-text-profile">Profile</h1>
    <form action="">

      <div class="margin-profile w-input-profile">
        <div>
          <label class="pd_l-profile" for="name">Username</label>
          <input class="display-block-profile display-block-profile size-profile mb-profile pd_l-profile" type="text" placeholder="Email" id="name">
        </div>

        <div>
          <label class="pd_l-profile" for="emailProfile">Username</label>
          <input class="display-block-profile display-block-profile size-profile mb-profile pd_l-profile" type="email" placeholder="my_mail@gmail.com" id="emailProfile">
        </div>

        <div>
          <label class="pd_l-profile" for="age">Age</label>
          <input class="display-block-profile display-block-profile size-profile pd_l-profile" type="text" placeholder="Age" id="age">
        </div>
      </div>

      <button class="btn-primary-profile margin-profile display-block-profile size-btn-profile">Save</button>

    </form>
</div>
